body {
    background: #F6F2F2;
    margin: 0 auto;
    max-width: 1249px;
    font-family: Open Sans;
    font-style: normal;
}

.link {
    text-decoration: none;
    color: white;
}

.header {
	box-sizing: border-box;
	display: flex;
	align-items: stretch;
	justify-content: center;
	max-width: 1249px;
	margin: 0 auto;
    min-height: 89px;
    margin-top: 29px;
	background-color: #000000;
}

.header-items {
    display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	list-style: none;
	padding: 0;
	margin: 0;	
	margin-left: -20px;
}

.header-item {
    display: flex;
    position: relative;
	flex-wrap: wrap;
	align-items: stretch;
    list-style: none;
    text-justify: auto;
	padding: 0;
	margin: 0;	
	margin-left: -20px;
}


.header-item:hover {
    background:#FF3F40;
}

.header-text {
    display: flex;
	align-items: center;
	padding: 0 30px;
	font-size: 14px;
	font-weight: bold;
    text-transform: uppercase;
}

.content {
    display: flex;
    margin-top: 221px;
    max-width: 1249px;
    flex-direction: column;
}

.home {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: inherit;
}

.home-left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 618px;
    height: 356px;
}

.home-left-column-button {
    background: #FF2D2D;
    width: 227px;
    height: 55px;
    border: none;
    font-weight: bold;
    font-size: 18.0412px;
    line-height: 34px;
    letter-spacing: 0.3195px;
}


h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 72px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

p {
    color: #716D6C;
    max-width: 544.85px;
    max-height: 73px;
    font-weight: normal;
    font-size: 15.9953px;
    line-height: 28px;
}



