body {
    background: #F6F2F2;
    margin: 0 auto;
    max-width: 1249px;
    margin-top: 29px;
    font-family: Open Sans;
    font-style: normal;
}
a {
    text-decoration: none;
    color: white;
}

header {
    display: inline-block;
    background: #303030;
    width: 1249px;
    height: 89px;
    text-align: center;
    position: absolute;
    border: none;
}

.header-block {
    display: inline-block;
    width: 89px;
    height: 89px;
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
}


.header-block:hover {
    background:#FF3F40;
}

.header-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #E0E0E0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.49px;
    white-space: nowrap;
    font-weight: 800;
}

#home {
    display: inline-block;
    position: relative;
    margin-top: 221px;
    width: 1249px;
    height: 356px;
}

.left-column {
    position: absolute;
    left: 0;
    max-width: 618px;
    height: 356px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 72px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

p {
    color: #716D6C;
    max-width: 544.85px;
    max-height: 73px;
    font-weight: normal;
    font-size: 15.9953px;
    line-height: 28px;
}

button {
    
    position: absolute;
    background-color: #FF2D2D;
    color: white;
    width: 227px;
    height: 55px;
    border: none;
    font-weight: bold;
    font-size: 18.0412px;
    line-height: 34px;
    letter-spacing: 0.3195px;
    bottom: 0;
}

.right-column {
    position: absolute;
    right: 0;
}